<html>
    <body>
        Points for both cooperating: {{ cc_points }} <br>
        Points for both defecting: {{ dd_points }} <br>
        Points for defecting while the other cooperates: {{ dc_points }} <br>
        Points for cooperating while the other defects: {{ cd_points }} <br>
        Number of rounds in a match: {{ rounds_no }} <br>
        Number of matches per matchup in tournament: {{ matches_no }} <br>
        Probability of misfiring: {{ noise }} <br> <br>
        <h2>
            Strategies to play
        </h2>
        {{ playing_strategies }}
    </body>
</html>