<html>
    <h1>The Prisoners Dilemma</h1>
    <br>
    <style>
        div.a {
          text-align: center;
        }
    </style>
    <body>
        <div class="a">

        <p>
            <h3>How the game is setup</h3><br>
            <br>Looking to the diagram of outcomes, you should be able to see that if Player 2 cooperates, Player 1 will get a higher score if they defect.
            Equally, if Player 2 defects, <br>
        </p>
        <br>

        <a href="/tutorial2">Next page</a>
        </div> 
    </body>
</html>


