<html>
    <h1>The Prisoners Dilemma</h1>
    <br>
    <style>
        div.a {
          text-align: center;
        }
    </style>
    <body>
        <div class="a">

        <p>
            <h3>How the game is setup</h3><br>
            <br>The Prisoners' Dilemma is a game used to understand how we should make decisions under specific circumstances.<br>
            
            <br>It is modelled on a 2 person/player interaction, where both players move at the same time and where each player only has 2 options - cooperate or defect <br>
            <br>
            <br><h4>The scoring works as follows:</h4>
            <br>   if both players cooperate, both score 4 points<br>
            <br>   if both players defect, both score 2 points<br>
            <br>   if one player cooperates while the other defects, the cooperator scores 0 points and the defector scores 8 points<br>
        </p>
        <br>
        <img src="/PrisonersDilemmaPayoffChart.JPG" alt="payoff chart">
        <a href="/1">Next page</a>
        </div> 
        
    </body>
</html>


