<html>
    <h1>The Prisoners Dilemma</h1>
    <br>
    <style>
        div.a {
          text-align: center;
        }
    </style>
    <body>
        <div class="a">

        <p>
            <h3>How the game is setup</h3><br>
            <br>Looking to the diagram of outcomes, you should be able to see that whatever Player 1 does, cooperate or defect, Player 2 will score more points defecting. 
            This is also true the other way around. <br>
            So it's in both players' best interest to defect. <br>

            <h4> Now let's imagine that instead of playing one round of this game, they play 5 rounds in a match</h4>
            <br> The maximum score for either player is 40 and the minimum score is 0. If both players always cooperate, they will both score 20,
            and if they always defect, they will score 10. <br> Finally, if a player gets away with a single maximum score initially, 
            but then suffers mutual defection for the rest of the game, that player will score 16.
        </p>
        <br>

        <a href="/tutorial3">Play a 5 round match</a>
        </div> 
    </body>
</html>


